# Auto detect text files and perform LF normalization
* text=auto eol=lf

# JS/TS files
*.js text
*.ts text
*.jsx text
*.tsx text

# Config files
*.json text
*.yml text
*.yaml text
*.conf text

# Docker files
Dockerfile text
*.dockerignore text

# Python files
*.py text diff=python

# Documentation
*.md text diff=markdown

# Binary files
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.pdf binary 